# Capital IQ Webscraping | Financial Statements

A demonstration for scraping financial statements from the Capital IQ Website. All of the major financial statements are structured in the same way, so this method will work for any of them.

In [1]:
from selenium.webdriver.common.keys import Keys
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import lxml
import getpass

### Website url and parameters

In [2]:
company = 24937
statement = 'IncomeStatement' #other options include: BalanceSheet, Cashflow
url = 'https://www.capitaliq.com/CIQDotNet/Financial/{}.aspx?companyId={}'

### Credentials for website authentication

In [3]:
username = input()

 israel.dryer@us.gt.com

In [4]:
password = getpass.getpass()

 ·········

### Create the browser bot

In [5]:
bot = webdriver.Chrome()

### Navigate to the website and login

In [6]:
bot.get(url.format(statement, company))

In [7]:
bot.find_element_by_id('username').send_keys(username)

In [8]:
pwd = bot.find_element_by_id('password')
pwd.send_keys(password)
pwd.send_keys(Keys.RETURN)

### Extract data from the webpage

In [9]:
soup = BeautifulSoup(bot.page_source, 'lxml')

### Find all < a > tags in the data table with the clickThru class

In [10]:
table = soup.find('table',{'class':'FinancialGridView'}).find_all('a',{'class':'clickThru'})

In [11]:
print(table[0])

<a class="clickThru" href="javascript:void(0);" onclick="javascript:parent.clickThrough(event,'a685',1, '112', '1814669187', '24937', '160', '0', '', '', 'False');" title="Revenue
 FY: 2014
 Period End Date: Sep-27-2014
 Filing Date: Oct-26-2016
 Period Type: Annual
 Value: 182,795.0, Currency: USD, Millions">182,795.0</a>

### Extract the __title__ of each element and split into lists by line break

In [12]:
raw = []
for x in table:
    try:
        raw.append(x['title'].split('\n'))
    except:
        continue

In [13]:
print(raw[0])

['Revenue', ' FY: 2014', ' Period End Date: Sep-27-2014', ' Filing Date: Oct-26-2016', ' Period Type: Annual', ' Value: 182,795.0, Currency: USD, Millions']

### Add a label for the account name. In the example above this is 'Revenue'

In [14]:
for x in raw:
    if x[0]:
        x[0] = 'Account: ' + x[0]

In [15]:
print(raw[0])

['Account: Revenue', ' FY: 2014', ' Period End Date: Sep-27-2014', ' Filing Date: Oct-26-2016', ' Period Type: Annual', ' Value: 182,795.0, Currency: USD, Millions']

### Convert each record to a dictionary data type

In [16]:
data = []

for row in raw:
    data_dict = {}
    for pair in row:
        # split embedded kev:value pairs if exist (see 'Value, Currency, Millions' example above)
        record = pair.strip().split(', ')
        
        # single key:value pair
        if len(record)==1:
            try:
                k, v = record[0].split(':')
            except:
                continue
            else:
                data_dict[k.strip()] = v.strip()

        # multiple key:value pairs
        else:
            for x in record:
                if x.count(':')==0:
                    continue
                else:
                    k, v = x.split(':')
                    data_dict[k.strip()] = v.strip()

    data.append(data_dict)

In [17]:
print(data[0])

{'Account': 'Revenue', 'FY': '2014', 'Period End Date': 'Sep-27-2014', 'Filing Date': 'Oct-26-2016', 'Period Type': 'Annual', 'Value': '182,795.0', 'Currency': 'USD'}

### Create a list of all possible data points collected in meta-data

In [18]:
key_list = []
for row in data:
    key_list.extend(row.keys())
    
key_list = set(key_list)

In [19]:
print(key_list)

{'Period Type', 'Value', 'Account', 'Filing Date', 'Period End Date', 'Currency', 'FQ', 'FY'}

### Normalize the data by adding the Key with a None value if not exist

In [20]:
for row in data:
    for key in key_list:
        if key not in row:
            row[key] = None

In [21]:
print(data[0])

{'Account': 'Revenue', 'FY': '2014', 'Period End Date': 'Sep-27-2014', 'Filing Date': 'Oct-26-2016', 'Period Type': 'Annual', 'Value': '182,795.0', 'Currency': 'USD', 'FQ': None}

### Import and preview dataframe

In [22]:
df = pd.DataFrame(data)

In [23]:
df[df['Filing Date']=='Oct-26-2016'].head(10)

,Account,Currency,FQ,FY,Filing Date,Period End Date,Period Type,Value
0,Revenue,USD,None,2014,Oct-26-2016,Sep-27-2014,Annual,"182,795.0"
6,Total Revenue,USD,None,2014,Oct-26-2016,Sep-27-2014,Annual,"182,795.0"
12,Cost Of Goods Sold,USD,None,2014,Oct-26-2016,Sep-27-2014,Annual,"112,258.0"
18,Gross Profit,USD,None,2014,Oct-26-2016,Sep-27-2014,Annual,"70,537.0"
24,Selling General & Admin Exp.,USD,None,2014,Oct-26-2016,Sep-27-2014,Annual,"11,993.0"
30,R & D Exp.,USD,None,2014,Oct-26-2016,Sep-27-2014,Annual,"6,041.0"
36,Other Operating Exp.,USD,None,2014,Oct-26-2016,Sep-27-2014,Annual,"18,034.0"
42,Operating Income,USD,None,2014,Oct-26-2016,Sep-27-2014,Annual,"52,503.0"
48,Interest Expense,USD,None,2014,Oct-26-2016,Sep-27-2014,Annual,(384.0)
54,Interest and Invest. Income,USD,None,2014,Oct-26-2016,Sep-27-2014,Annual,"1,795.0"